   	
       	a.icon {
       		margin-right: 30px;
       		margin-top: 30px;
       		font-size: 20pt;
       		color: white;	
       		

       	}
        footer {
          margin-top: 50px;
        }
       	i:hover {
       		font-size: 23pt;
       		color: gray;
       	}
       	button {
       		text-align:center;
       	}

        .card-image{
          height: : 200px;
        }

       	@media{
       		footer{

   	       		text-align:center ;

       		}

